body {
  font-family: sans-serif;
  background: #fff1f1;
  color: #1a0000;
}

pre {
  margin: 0;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
  white-space: -pre-wrap; /* Opera */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
  word-wrap: break-word; /* IE 5.5+ */
}

a {
  color: #980000;
}

.date {
  color: grey;
  float: right;
}

.border {
  border: solid 1px;
  border-radius: 3px;
}

.fixed {
  position: fixed;
  z-index: 3;
  /* margin: 0; */
  background: #fff1f1;
}

.bottom {
  bottom: 10px;
}

.top {
  top: 10px;
}

.left {
  float: left;
  left: 8px;
}

.right {
  float: right;
  right: 8px;
}

.popup {
  z-index: 4;
}

.popup:target {
  visibility: visible;
}

.ptl {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.post {
  overflow-y: scroll;
  max-height: 500px;
  margin-bottom: 10px;
}

.post img {
  float: left;
  max-width: 140px;
  max-height: 150px;

  margin-right: 10px;
  margin-bottom: 10px;
}

.replies {
  margin-left: 10px;
}

#posts, #components {
  text-align: left;
}

#posts {
  margin-bottom: 50px;
}

#components {
  visibility: hidden;
}

#browse {
  padding: 8px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Desktop view */
@media only screen and (min-width: 960px) {
  #posts {
    max-width: 80%;
  }
}
